body {
    background-color: #000000;
    background-size: cover;
    background: #000000 url('../Images/fondo3.jpg') no-repeat right center;
    text-align: center;
}

canvas {
    background: url('../Images/espacio.gif'), url('../Images/ArkanoidFondo.png');
    opacity: 2;
    cursor: none;
    color: #eeeeee;
    border: 2px solid;
    border-color: #eeeeee;
    display: block;
    margin: 0 auto;
}