<div class="fixed-action-btn">
    <a class="btn-floating btn-large blue-grey darken-3">
        <i class="large material-icons">add</i>
    </a>
    <ul>
        <!--<li><a routerLink="/user-library" class="btn-floating green darken-1" title="Biblioteca de juegos"><i class="material-icons">insert_chart</i></a></li>-->
        <li><a href="/register" class="btn-floating red darken-1" title="Registrarse"><i class="material-icons">person_add</i></a></li>
        <li><a href="/login" class="btn-floating light-blue darken-1" title="Iniciar Sesion"><i class="material-icons">person</i></a></li>
    </ul>
</div>