<!--
<ul class="list">
    <li>
        <a routerLink="/login">Login</a>
    </li>
    <li>
        <a routerLink="/register">Register</a>
    </li>
    <li>
        <a routerLink="/settings">Settings</a>
    </li>
    <li>
        <a routerLink="/library">Library</a>
    </li>
    <li>
        <a routerLink="/data">Data</a>
    </li>
    <li>
        <a routerLink="/game">Game</a>
    </li>
    <li>
        <a routerLink="/central">Central</a>
    </li>
</ul>
<br>
<br>
-->

<nav>
    <div class="nav-wrapper blue-grey darken-3">
        <a href="/home" class="brand-logo center">GameZone<i class="material-icons right">games</i></a>
        <a href="" data-activates="mobile-demo" class="button-collapse" materialize="sideNav"><i class="material-icons">menu</i></a>
        <ul class="left hide-on-med-and-down">
            <!--<li><a href="/home">Home</a></li>-->
            <!--<li><a href="/games-library">Juegos</a></li>-->
            <!--<li><a href="/games-library/any">Juegos</a></li>-->
        </ul>
    </div>
</nav>

<ul class="side-nav" id="mobile-demo">
    <li>
        <div class="user-view blue-grey darken-1">
            <span class="blue-grey-text text-lighten-5">Menu</span>
        </div>
    </li>
    <!--<li><a href="/home">Home</a></li>-->
    <!--<li><a href="/games-library">Juegos</a></li>-->
    <!--<li><a href="/games-library/any">Juegos</a></li>-->
</ul>